<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='<%= path.cdn%>/css/<%= path.fileNames.css%>' />
  </head>
  <body>
    <app></app>
    <script src='<%= path.cdn%>/js/<%= path.fileNames.js%>'></script>
  </body>
</html>
